@model IEnumerable<UCP1_PAW_089_C.Models.Penjual>

@{
    ViewData["Title"] = "Index";
}

<h1>Penjual</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Penjual")
            </th>
            <th>
                @Html.DisplayName("Email Penjual")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th>
                @Html.DisplayName("No HP Penjual")
            </th>
            <th>
                @Html.DisplayName("ID Produk")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaPenjual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailPenjual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoHpPenjual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProdukNavigation.IdProduk)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPenjual"><i class="fas fa-user-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdPenjual"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPenjual"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
