@model IEnumerable<UCP1_PAW_089_C.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Produk</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Produk")
            </th>
            <th>
                @Html.DisplayName("Harga")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaProduk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProduk"><i class="fas fa-user-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdProduk"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProduk"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
